* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

body.dark {
  font-family: sans-serif;
  background-color: #252525;
  color: #f0f0f0;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


.squareX {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: green;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareO {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: red;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareXdark {
  background: #252525;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: green;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareOdark {
  background: #252525;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: red;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bwd_button {
  border: 1px solid #999;
  height: 21px;
  width: 70px;
  border-radius: 3px;
  color: red;
  margin-bottom: 5px;
}

.bwd_buttondark {
  background-color: #9897a9;
  border: 1px solid black;
  height: 21px;
  width: 70px;
  border-radius: 3px;
  color: red;
  margin-bottom: 5px;
}

.bwd_buttondark:hover:enabled{
background-color: #7a7986;
}

.span-margin {
  margin: 0 5px;
}

.fwd_button {
  border: 1px solid #999;
  height: 21px;
  width: 60px;
  border-radius: 3px;
  color: green;
  margin-bottom: 5px;
}

.fwd_buttondark {
  background-color: #9897a9;
  border: 1px solid black;
  height: 21px;
  width: 60px;
  border-radius: 3px;
  color:  #005b00;
  margin-bottom: 5px;
}

.fwd_buttondark:hover:enabled{
  background-color: #7a7986;
  }  

.player-names-container {
  text-align: center;
  padding: 20px;
}

.player-names-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-container{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.toggle-button {
  margin-left: 20px;
}
